# Virtual Environment
.venv/
venv/
env/

# Data folder (raw datasets, large files)
data/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
